NODE_ENV=development
PORT=3000

DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db
DB_SSL=false
DB_POOL_MAX=10
DB_IDLE_TIMEOUT=10000
DB_CONNECTION_TIMEOUT=5000

WEBHOOK_TARGET_URL=
