NODE_ENV=development
PORT=3000
API_HOST_PORT=3000
TEST_RECEIVER_PORT=3001

DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db
DB_SSL=false
DB_POOL_MAX=10
DB_IDLE_TIMEOUT=10000
DB_CONNECTION_TIMEOUT=5000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

WEBHOOK_TARGET_URL=http://localhost:3001/webhooks
